:root{
    --color1: #f8d1ca;
    --color2: #d8d400; 
    --color3: #5e5803;
    --color4: rgb(148, 146, 120);
    --color5: #1f1f00;
    --color6: #ffffff91 ;
    --color7: #7a6f0b;
   --color8: rgb(251, 255, 0);
      --color9: #7f7d00;
    --color10: #b3b600;
   /* --color6:
    --color6: */
}